<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250808977730-428s2lkt54pgosg4qhd5v1s484lr7h9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250808977730-428s2lkt54pgosg4qhd5v1s484lr7h9e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>250808977730-771544edppfl6jodu97qpr09bne5m60t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBOJ4ioi2LiAzSTyUYaITqWLFA28TKt6ls</string>
	<key>GCM_SENDER_ID</key>
	<string>250808977730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseRealTime</string>
	<key>PROJECT_ID</key>
	<string>fir-rt-42d3f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-rt-42d3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250808977730:ios:753375133d72be996820db</string>
	<key>DATABASE_URL</key>
	<string>https://fir-rt-42d3f-default-rtdb.firebaseio.com</string>
</dict>
</plist>